@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #060E0A;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.green-text {
  color: #469c71;
}

.white-silver-animated-text {
  background: linear-gradient(
    90deg,
    #999999 0%,
    #ffffff 50%,
    #999999 100%
  );
  background-size: 250% 100%;
  background-position: 0% 0%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: white-silver-gradient 8s linear infinite;
}

.white-silver-animated-text1 {
  background: linear-gradient(
    90deg,
    #999999 0%,
    #ffffff 50%,
    #999999 100%
  );
  background-size: 300% 100%;
  background-position: 0% 0%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: white-silver-gradient 6s ease-in-out infinite;
}

.white-silver-animated-text2 {
  background: linear-gradient(
    90deg,
    #999999 0%,
    #ffffff 50%,
    #999999 100%
  );
  background-size: 300% 100%;
  background-position: 0% 0%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: white-silver-gradient 9s ease infinite;
}


@keyframes white-silver-gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 300% 0%;
  }
}


